@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');

@media (min-width: 760px) and (max-width: 990px) {
  * {
    padding: 0%;
    margin: 0%;
  }

  .contact p br {
    display: none;
  }

  section.explain img.img {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: serif;
    font-style: normal;
  }

  /* start of header */
  .logo {
    font-family: 'Waterfall', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    padding-left: 10%;
  }

  /* start of  navbar */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #3c3a39;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  a {
    text-decoration: none;
    margin-right: 30px;
  }

  .get a {
    color: white;
    text-align: center;
  }

  .menu {
    list-style-type: none;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
  }

  .link {
    color: #fff;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16.5px;
    line-height: 24px;
  }

  .contact-links a {
    margin-left: 25%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .contact-links a:hover {
    padding: 5%;
    box-shadow: 4px 4px 4px 4px #f55a00f3, -4px -4px 4px 4px #f58b00f3;
  }

  .fa-bars,
  .fa-times {
    color: white;
    font-size: 25px;
    display: none;
  }

  /* head line start   */

  /* section start */

  section.explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #1c1a19;
    position: relative;
    height: 570px;
  }

  section.explain h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-top: 80px;
    margin-left: 12%;
  }

  section.explain h2 {
    width: 35%;
    height: 27px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    margin-top: 20px;
    margin-left: 12%;
  }

  section.explain h3 {
    width: 35%;
    height: 123px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 20px;
    margin-left: 12%;
  }

  div.contact {
    margin-right: 3%;
    align-self: flex-start;
    margin-top: 180px;
    position: absolute;
  }

  div.contact ul {
    text-decoration: none;
  }

  div.contact li {
    margin-top: 10px;
  }

  div.contact .fa-twitter {
    color: #dbd8d7;
    font-size: 25px;
  }

  div.contact .fa-linkedin {
    color: #dbd8d7;
    font-size: 25px;
  }

  div.contact .fa-github {
    color: #dbd8d7;
    font-size: 25px;
  }

  div.contact .fa-medium {
    color: #dbd8d7;
    font-size: 25px;
  }

  div.contact .fa-angellist {
    color: #dbd8d7;
    font-size: 25px;
  }

  section.explain img.img1 {
    width: 45%;
    height: 100%;
    align-self: flex-end;
    position: absolute;
    margin-right: 0;
  }

  /* head line end   */

  .works {
    background: #fff;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  .title {
    width: 327px;
    height: 83px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    margin-left: 7%;
    margin-top: 0%;
    align-self: flex-start;
  }

  section.works hr {
    width: 53%;
    height: 0;
    border: 1px solid #0f0e0e;
    align-self: flex-end;
    margin-top: -65px;
    margin-right: 5%;
    margin-left: 4%;
    margin-bottom: 10%;
  }

  section.about hr {
    border: 1px solid #e2dfdf;
  }

  div.image {
    width: 40%;
    height: 58vh;
    margin-left: 5.2%;
    float: left;
    margin-bottom: 2%;
    box-shadow: 2px 2px 2px 2px #757372f3, -2px -2px 2px 2px #e6ad64f3;
  }

  .image img {
    width: 100%;
    height: 100%;
  }

  div.content {
    width: 48%;
    float: right;
  }

  h2.corner-title {
    width: 327px;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 44px;
    color: #091e42;
    margin-left: 6.5%;
  }

  p.content {
    width: 60%;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    margin-left: 6.5%;
    margin-top: 3%;
  }

  button.see {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 10px;
    font-size: 18px;
    margin-left: 6.5%;
    margin-bottom: 50px;
    width: 35%;
  }

  button.see:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  button.see:active {
    background: #e05304;
    color: #fff5e1;
  }

  button.see:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  /* profitional part */
  .subjects {
    width: 100%;
    position: relative;
    margin-top: 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .profesional {
    margin: 0%;
    padding: 0%;
    width: 300px;
    height: 200px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
  }

  .profesional::before {
    content: attr(data-name);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #f55a00f3;
    padding: 10px;
    border-radius: 10px;
    font-size: 26px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    text-align: center;
  }

  .profesional:hover::before {
    content: attr(data-name);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #f55a00f3;
    padding: 10px;
    border-radius: 10px;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'Waterfall', cursive;
    visibility: visible;
    opacity: 1;
    text-align: center;
  }

  .profesional::after {
    content: attr(data-lan);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #f55a00f3;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    text-align: center;
  }

  .profesional:hover::after {
    content: attr(data-lan);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #f55a00f3;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Crete Round', sans-serif;
    visibility: visible;
    opacity: 1;
    text-align: center;
  }

  .profesional:hover .see-project {
    border-radius: 10px;
  }

  div.profesional h3 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #f1f3f7;
    margin-left: 6.5%;
    margin-top: 95px;
  }

  .profesional p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #f1f4f8;
    margin-left: 6.5%;
    margin-top: 15px;
    margin-right: 3%;
  }

  div.profesional:hover {
    transition: all 0.3s linear;
    border-radius: 5%;
    box-shadow: 4px 4px 4px 4px #f55a00f3, -4px -4px 4px 4px #f58b00f3;
  }

  button.see-project {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 10px;
    font-size: 18px;
    width: 140px;
    margin-top: 180px;
  }

  button.see-project:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  button.see-project:active {
    background: #e05304;
    color: #fff5e1;
  }

  button.see-project:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  div.first-project {
    margin-left: 32px;
    margin-right: 10px;
    background: url(images/meal.jpg) no-repeat;
    background-size: contain;
  }

  div.second-project {
    margin-right: 10px;
    background: url(images/vesper-backend.jpg) no-repeat;
    background-size: contain;
  }

  div.third-project {
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 10px;
    background: url(images/budget.png) no-repeat;
    background-size: contain;
  }

  div.fourth-project {
    margin-top: 20px;
    margin-right: 10px;
    background: url(images/books.jpg) no-repeat;
    background-size: contain;
  }

  div.fifth-project {
    margin-left: 32px;
    margin-right: 10px;
    margin-top: 20px;
    background: url(images/recipe.jpg) no-repeat;
    background-size: cover;
  }

  div.sixth-project {
    margin-top: 20px;
    margin-right: 10px;
    background: url(images/awesome-books.jpg) no-repeat;
    background-size: contain;
  }

  .featured-project {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .featured-image {
    width: 60%;
    border: 1px solid #dda06e;
  }

  .featured-image img {
    width: 100%;
    height: 100%;
  }

  .works-categories {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
    margin-left: 7%;
  }

  .work-skills {
    background: #fff;
    border: 1px solid #8993a4;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    padding: 10px;
  }

  /* section popup */
  .modal-container {
    display: none;
    position: fixed;
    height: 98vh;
    background-color: #fff;
    top: 5%;
    overflow-y: auto;
    width: 80%;
    margin-left: 5%;
    padding: 5%;
  }

  .modal {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .modal-close {
    font-size: 1.75rem;
    font-weight: 900;
    color: #67798e;
    margin-right: -10px;
  }

  .modal-close:hover,
  .modal-close:focus {
    cursor: pointer;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
  }

  #modal-title {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  #modal-description {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    width: 90%;
  }

  .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
  }

  .link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  #live-link {
    background-image: url(images/live-Icon.png);
  }

  #source-link {
    background-image: url(images/Vector.png);
  }

  #live-link,
  #source-link {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 2.5rem 0.75rem 0.5rem;
    background-position: 90%;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-color: #f55800;
    color: #fff;
  }

  #live-link:hover {
    background-image: url(images/live-Icon.png);
    color: #f55800;
    background-color: #fff;
    border: 1px solid #f55800;
  }

  #source-link:hover {
    background-image: url(images/Vector.png);
    color: #f55800;
    background-color: #fff;
    border: 1px solid #f55800;
  }

  #live-link:active {
    background-image: url(images/live-Icon.png);
    background-color: #6b2d01;
    color: #fff;
  }

  #source-link:active {
    background-image: url(images/Vector.png);
    background-color: #6b2d01;
    color: #fff;
  }

  /* section works end */

  /* section about start */
  section.about {
    position: absolute;
    width: 100%;
    height: auto;
    background: #1c1a19;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-content {
    margin-top: 8%;
    margin-left: 5%;
    width: 40.5%;
    padding-right: 4.08%;
  }

  div.about-me {
    display: flex;
    flex-direction: row;
  }

  section.about h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 52px;
    color: #ff6b00;
    margin-top: 4%;
  }

  .about p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #f1f4f8;
    margin-top: 30px;
    padding-bottom: 6%;
  }

  button.get {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 10px;
    font-size: 18px;
  }

  button.get:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  button.get:active {
    background: #e05304;
    color: #fff5e1;
  }

  button.get:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  .about-img {
    width: 47%;
    margin-top: 100px;
    margin-left: 24.5px;
  }

  hr.about-hr {
    width: 90%;
    margin-top: 8%;
    margin-bottom: 6%;
    margin-left: 4.6%;
    margin-right: 4%;
    border: 1px solid #fff;
  }

  .about-list {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
  }

  div.list-content {
    margin-left: 10%;
    width: 20%;
  }

  div.list-content ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 25%;
  }

  div.list-content ul li {
    padding: 5%;
    color: #d7dde4;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }

  div.list-content span.lang {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fcfcfd;
    margin-top: -3px;
  }

  .about-list span.frame {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fcfcfd;
  }

  .about-list span.skill {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fcfcfd;
    display: inline-block;
  }

  div.list-content .list-icon {
    width: 15px;
    height: 15px;
  }

  img.list-icon {
    transition: all 0.3s linear;
  }

  img.list-icon:hover {
    transform: rotate(360deg);
    outline: 1px solid  #f55800;
    border-radius: 50%;
  }

  .get:hover a {
    color: rgb(226, 70, 9);
  }

  .about-content .about-text {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .about-content .less-more {
    display: flex;
    justify-content: flex-start;
  }

  .about-content .less,
  .about-content .more {
    border: none;
    background-color: transparent;
    color: #f55800;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .about-content .less {
    display: none;
  }

  .about-content .less:focus,
  .about-content .more:focus {
    outline: none;
  }

  .about-content .show-more .more {
    display: inline-block;
  }

  .about-content .show-less .less {
    display: inline-block;
  }

  .about-content .show-less .more {
    display: none;
  }


  /* section about end */

  /* section contact */
  section.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin-top: 900px;
    background: #fff;
  }

  section.contact p {
    width: 35%;
    margin-right: 3%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    text-align: left;
    color: #172b4d;
    padding-top: 14%;
    padding-bottom: 10%;
  }

  section.contact form {
    width: 50%;
    margin-right: 5%;
    box-sizing: border-box;
  }

  section.contact .item {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #dbd8d7;
    box-sizing: border-box;
  }

  section.contact .item::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
  }

  section.contact textarea {
    height: 140px !important;
    resize: vertical;
  }

  section.contact .textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
  }

  button.touch {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 40px;
  }

  button.touch:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  button.touch:active {
    background: #e05304;
    color: #fff5e1;
  }

  button.touch:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  section.contact hr {
    background: #dfe1e6;
    margin-top: 70px;
    width: 100%;
    height: 0;
    border: 1px solid #dfe1e6;
  }

  ul.contact-footer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 6%;
  }

  li a i.color {
    color: #505f79;
    font-size: 25px;
  }

  .form-error {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(248, 100, 32);
    height: 80px;
    margin-bottom: 5px;
    opacity: 0;
    color: white;
  }

  .error {
    font-size: 14px !important;
    color: rgb(245, 239, 239) !important;
    height: 50px !important;
    margin-top: -15% !important;
    position: absolute !important;
  }

  /* section contact end */
  .info-me {
    width: 100%;
  }
}
