@media (min-width: 1200px) and (max-width: 2000px) {
  * {
    padding: 0%;
    margin: 0%;
  }

  .contact p br {
    display: none;
  }

  section.explain img.img {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: serif;
    font-style: normal;
  }

  /* start of header */
  .logo {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    padding-left: 10%;
    transition: all 0.3s linear;
  }

  .logo:hover {
    transform: rotate(360deg);
    color: #f3763d;
  }

  /* start of  navbar */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #3c3a39;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .menu {
    list-style-type: none;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
  }

  .link {
    color: #fff;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16.5px;
    line-height: 24px;
  }

  .link:hover {
    transition: all 0.5s linear;
    padding-bottom: 10px;
    border-bottom: 2px solid  #ff5100dc;
  }

  a {
    text-decoration: none;
    margin-right: 30px;
  }

  .fa-bars,
  .fa-times {
    color: white;
    font-size: 25px;
    display: none;
  }

  /* head line start   */

  /* section start */

  section.explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #1c1a19;
    position: relative;
    height: 570px;
  }

  section.explain h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-top: 120px;
    margin-left: 10%;
  }

  section.explain h2 {
    width: 35%;
    height: 27px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    margin-top: 20px;
    margin-left: 10%;
  }

  section.explain h3 {
    width: 32%;
    height: 123px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 20px;
    margin-left: 10%;
  }

  div.contact {
    align-self: flex-start;
    margin-top: 180px;
    position: absolute;
  }

  div.contact ul {
    text-decoration: none;
  }

  div.contact li {
    margin-top: 10px;
  }

  div.contact .fa-twitter {
    color: #dbd8d7;
    font-size: 25px;
  }

  div.contact .fa-linkedin {
    color: #dbd8d7;
    font-size: 25px;
  }

  div.contact .fa-github {
    color: #dbd8d7;
    font-size: 25px;
  }

  div.contact .fa-medium {
    color: #dbd8d7;
    font-size: 25px;
  }

  div.contact .fa-angellist {
    color: #dbd8d7;
    font-size: 25px;
  }

  section.explain img.img1 {
    width: 45%;
    height: 100%;
    align-self: flex-end;
    position: absolute;
    margin-right: 0;
  }

  /* head line end   */

  section.works {
    background: #fff;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }

  .title {
    width: 327px;
    height: 83px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    margin-left: 7%;
    margin-top: 0%;
    align-self: flex-start;
  }

  section.works hr {
    width: 62%;
    height: 0;
    border: 1px solid #313030;
    float: right;
    margin-top: -80px;
    margin-right: 6%;
  }

  section.about hr {
    border: 1px solid #e2dfdf;
  }

  div.image {
    width: 40%;
    height: 56vh;
    margin-left: 5.2%;
    float: left;
    margin-bottom: 20px;
  }

  .image img {
    width: 100%;
    height: 100%;
  }

  div.content {
    width: 53%;
    float: right;
  }

  h2.corner-title {
    width: 327px;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
    margin-left: 6.5%;
  }

  p.content {
    width: 60%;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    margin-left: 6.5%;
    margin-top: 3%;
  }

  button.see {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 10px;
    font-size: 18px;
    margin-left: 6.5%;
    margin-bottom: 50px;
    width: 35%;
  }

  button.see:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
    transition: all 0.3s linear;
  }

  button.see:active {
    background: #e05304;
    color: #fff5e1;
  }

  button.see:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  /* profitional part */
  .subjects {
    width: 100%;
    position: relative;
    margin-top: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10%;
  }

  .profesional {
    margin: 0%;
    padding: 0%;
    width: 370px;
    height: 386px;
  }

  div.profesional h3 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #f1f3f7;
    margin-left: 6.5%;
    margin-top: 95px;
  }

  .profesional p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #f1f4f8;
    margin-left: 6.5%;
    margin-top: 15px;
    margin-right: 3%;
    height: 386px;
  }

  div.profesional:hover {
    transition: all 0.3s linear;
    border-radius: 5%;
    box-shadow: 4px 4px 4px 4px #f55a00f3, -4px -4px 4px 4px #f58b00f3;
  }

  button.see-project {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 10px;
    font-size: 18px;
    width: 370px;
    margin-top: 346px;
    transition: all 0.3s linear;
  }

  button.see-project:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  button.see-project:active {
    background: #e05304;
    color: #fff5e1;
  }

  button.see-project:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  div.first-project {
    margin-left: 32px;
    margin-right: 10px;
    background: url(images/Placeholder1.png) no-repeat;
    border: 1px solid rgb(22, 17, 17);
  }

  div.p-2 {
    border: 1px solid rgb(22, 17, 17);
  }

  div.second-project {
    margin-right: 10px;
    background: url(images/Placeholder2.png) no-repeat;
  }

  div.third-project {
    margin-right: 32px;
    background: url(images/Placeholder3.png) no-repeat;
  }

  div.fourth-project {
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 10px;
    background: url(images/Placeholder6.png) no-repeat;
  }

  div.fifth-project {
    margin-top: 20px;
    margin-right: 10px;
    background: url(images/Placeholder2.png) no-repeat;
  }

  div.sixth-project {
    margin-top: 20px;
    margin-right: 32px;
    background: url(images/Placeholder3.png) no-repeat;
  }

  .featured-project {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .featured-image img {
    width: 100%;
  }

  .works-categories {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
    margin-left: 7%;
  }

  .work-skills {
    background: #fff;
    border: 1px solid #8993a4;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
    padding: 10px;
  }

  /* section popup */
  .modal-container {
    display: none;
    position: fixed;
    height: 600px;
    background-color: #fff;
    top: 5%;
    overflow-y: auto;
    margin: 0 30px;
    width: 70%;
    margin-left: 15%;
  }

  .modal {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 20px;
    width: 80%;
    margin-left: 8%;
  }

  .modal-close {
    font-size: 1.75rem;
    font-weight: 500;
    color: #67798e;
  }

  .modal-close:hover,
  .modal-close:focus {
    cursor: pointer;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
  }

  #modal-title {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  #modal-description {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    margin-right: 20%;
  }

  .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #live-link {
    background-image: url(images/live-Icon.png);
  }

  #source-link {
    background-image: url(images/Vector.png);
  }

  #live-link,
  #source-link {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 2.5rem 0.75rem 0.5rem;
    background-position: 90%;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    background-color: #f55800;
    color: #fff;
    margin-right: 10px;
  }

  #live-link:hover {
    background-image: url(images/live-Icon.png);
    color: #f55800;
    background-color: #fff;
    border: 1px solid #f55800;
  }

  #source-link:hover {
    background-image: url(images/Vector.png);
    color: #f55800;
    background-color: #fff;
    border: 1px solid #f55800;
  }

  #live-link:active {
    background-image: url(images/live-Icon.png);
    background-color: #6b2d01;
    color: #fff;
  }

  #source-link:active {
    background-image: url(images/Vector.png);
    background-color: #6b2d01;
    color: #fff;
  }

  /* section works end */

  /* section about start */
  section.about {
    position: absolute;
    width: 100%;
    height: auto;
    background: #1c1a19;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-content {
    margin-top: 8%;
    margin-left: 5%;
    width: 38.5%;
    padding-right: 4.08%;
  }

  section.about h1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 52px;
    color: #ff6b00;
    margin-top: 4%;
  }

  .about p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #f1f4f8;
    margin-top: 30px;
    padding-bottom: 6%;
  }

  button.get {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 10px;
    font-size: 18px;
    transition: all 0.3s linear;
  }

  button.get:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  button.get:active {
    background: #e05304;
    color: #fff5e1;
  }

  button.get:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  div.about-me {
    display: flex;
    flex-direction: row;
  }

  .about-img {
    width: 45%;
    margin-top: 100px;
    margin-left: 100px;
  }

  hr.about-hr {
    width: 90%;
    margin-top: 8%;
    margin-bottom: 6%;
    margin-left: 4.6%;
    margin-right: 4%;
    border: 1px solid #fff;
  }

  .about-list {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
  }

  div.list-content {
    margin-left: 10%;
    width: 20%;
  }

  div.list-content span.lang {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #fcfcfd;
  }

  div.list-content ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 20%;
  }

  div.list-content ul li {
    padding: 5%;
    color: #d7dde4;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }

  .about-list span.frame {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #fcfcfd;
  }

  .about-list span.skill {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: #fcfcfd;
    display: inline-block;
  }

  img.list-icon {
    transition: all 0.3s linear;
  }

  img.list-icon:hover {
    transform: rotate(360deg);
    outline: 1px solid  #f55800;
    border-radius: 50%;
  }

  /* section about end */

  /* section contact */
  section.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1000px;
    background: #fff;
  }

  section.contact p {
    width: 25%;
    padding-right: 6%;
    margin-top: 160px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    color: #172b4d;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
  }

  section.contact form {
    width: 50%;
    margin-top: 160px;
    margin-right: 5%;
    box-sizing: border-box;
  }

  section.contact .item {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #dbd8d7;
    box-sizing: border-box;
  }

  section.contact .item::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
  }

  section.contact textarea {
    height: 140px !important;
    resize: vertical;
  }

  section.contact input.item1 {
    width: 47.5%;
  }

  section.contact input.item2 {
    width: 47.5%;
    margin-left: 4%;
  }

  section.contact .textarea::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
  }

  button.touch {
    border: none;
    outline: none;
    color: #fff;
    background: #ff6b00;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 40px;
    transition: all 0.3s linear;
  }

  button.touch:hover {
    background: #fff5e1;
    border: 1px solid #f55800;
    color: #f55800;
  }

  button.touch:active {
    background: #e05304;
    color: #fff5e1;
  }

  button.touch:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  section.contact hr {
    background: #dfe1e6;
    margin-top: 70px;
    width: 100%;
    height: 0;
    border: 1px solid #dfe1e6;
  }

  ul.contact-footer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 6%;
  }

  li a i.color {
    color: #505f79;
    font-size: 25px;
  }

  .form-error {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(240, 99, 34);
    color: white;
    opacity: 0;
    height: 80px;
    margin-bottom: 5px;
  }

  .error {
    font-size: 18px !important;
    color: rgb(245, 239, 239) !important;
    height: 50px !important;
    margin-top: -5% !important;
    position: absolute !important;
    margin-left: 1% !important;
    width: 100% !important;
  }

  /* section contact end */
}
